th,td {
    text-align: center;
}

.btn-delete {
    background-color: var(--pico-del-color);
    border-color: var(--pico-form-element-invalid-active);
}

.btn-delete:hover {
    background-color: var(--pico-form-element-invalid-active-border-color);
}

label {
    font-weight: bold;
}